*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}

input:focus{
    outline: none;
}

body{
    background:#EFEFEF;
}

header{
    width:100%;
    display:flex;
    flex-direction:row;
    background:#00629B;
    height:100px;
}

header nav{
    width:100%;
    margin:20px;
    margin-right:200px;
}

header nav button{
    float:right;
}

.btn-sitcon{
    margin:10px;
    background:transparent;
    border:solid white 1.5px;
    border-radius:10px;
    color:white;
    padding:10px 15px 10px 15px;
    width:250px;
}

.font-label{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:1000;
}

footer{
    background:#EDF8FC;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    height:10%;
    color:#76ADCA;
}

footer p{
    line-height:100px;
}

.headerPacientes{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:red;
}

.btn-voltar{
    margin:10px;
    background:transparent;
    border:solid #00629B 1.5px;
    border-radius:10px;
    color:#00629B;
    padding:10px 15px 10px 15px;
    width:100px;
    text-align:center;
}

.btn-salvar{
    margin:10px;
    background:#00629B;
    border:solid #00629B 1.5px;
    border-radius:10px;
    color:white;
    padding:10px 15px 10px 15px;
    width:100px;
}